body {
    font-family: Arial, Helvetica, sans-serif;
}


#squareContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.square {
    width: 100px;
    height: 100px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 10px;
}