:root {
    --light-green: #DEF9EC;
    --dark-green: #3BB77E;
    --light-grey: #ADADAD;
    --white: #FFFFFF;
    --dark-blue: #253D4E;
    --shadow-grey: #dbdbdb;
}

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100%;
    margin: auto;
}

h1 {
    padding-left: 207px;
    background-color: var(--light-green);
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    line-height: 140px;
    color: var(--dark-blue);
}

.container {
    max-width: 1200px;
    padding: 49px 10px 0px 10px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-template-rows: repeat(2, 320px);
    column-gap: 74px;
    row-gap: 50px;
    justify-items: center;
    justify-content: space-around;
    overflow: hidden;
}

.card {
    width: 220px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: var(--white);
    box-shadow: 3px 3px 6px var(--shadow-grey), -1px -1px 4px var(--shadow-grey);
}

.card:hover {
    scale: 1.01;
}

.card-img {
    align-self: center;
}

.card-text {
    padding-left: 12px;
}

.card-text-category {
    margin-top: 3px;
    font-family: 'Quickstand', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: var(--light-grey);
}

.card-text-name {
    margin-top: 6px;
    font-family: 'Quickstand', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: var(--dark-blue);
}

.card-text-price {
    margin-top: 6px;
    font-family: 'Quickstand', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: var(--dark-green);
}

.card-text-old-price {
    padding: 5px;
    font-family: 'Quickstand', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: var(--light-grey);
    text-decoration: line-through;
}

.btn-green {
    width: 196px;
    height: 38px;
    margin-top: 6px;
    align-self: center;
    border: none;
    border-radius: 4px;
    background-color: var(--dark-green);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: white;
}

.circles {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.circle-01 {
    width: 268px;
    height: 268px;
    margin-top:0;
    margin-left: -100px;
    border: 3px solid var(--dark-green);
    border-radius: 50%;
    z-index: -1;
}

.circle-02 {
    width: 900px;
    height: 900px;
    margin-top: -500px;
    margin-right: -400px;
    border: 3px solid var(--dark-green);
    border-radius: 50%;
    z-index: -1;
}
